{% extends 'base.html' %}

{% block content %}

<h1>Countries that have competed at the Olympic Games</h1>

<p> With the 2020 Summer Olympics in Tokyo being postponed until next year, this is the perfect time to learn more about the countries that have competed at the Olympic Games since the modern games began in 1896. A total of 229 countries both past and present are included here.</p>
<p>This was built scraping <a href='https://www.sports-reference.com/olympics/'> Sports Reference </a> for Olympics data through 2016 and then adding 2018 data by hand. </p>
<br>
<p id = 'about'>Click on any country to read more about it.</p>


    <ul>
    {% for pair in pairs %}
        <li><a href="{{ url_for( 'detail', num=pair[0] ) }}">{{ pair[1] }}</a></li>
    {% endfor %}
    </ul>
<footer> This is a project created by Brendan Farrell. You can find the code used for this project <a href = 'https://github.com/bfarrell1/olympics_project'> here </a>
{% endblock %}
